/* Fonts */
@import url("https://fonts.cdnfonts.com/css/montserrat-subrayada");
@import url("https://fonts.cdnfonts.com/css/montserrat");

/* Gallery Card Section */
.gallery-card-section {
  margin-bottom: 75px;
  max-width: 100%;
  height: auto;
  background-image: url("https://cdn.discordapp.com/attachments/1138154440512241845/1142415071276961792/image.png");
}

/* Gallery Card Container */
.gallery-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.gallery-card-title {
  padding: 60px 0 60px 3vw;
}

.gallery-card-title h1 {
  font-size: 100px;
  font-weight: 700;
  font-family: "Montserrat Subrayada";
  color: #FFF2E3;
}

/* Gallery Card Gallery */
.gallery-card-gallery {
  background: #FFF2E3;
  width: 300px;
  height: 500px;
  margin: 10px 30px;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.gallery-card-gallery:hover {
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.63);
}

.gallery-card-gallery-image {
  overflow: hidden;
  height: 400px;
  margin-bottom: 10px;
  border-radius: 50px 50px 0 0;
}

.gallery-card-gallery-image img {
  width: auto;
  height: 380px;
  margin-left: -65px;
}

.gallery-card-gallery h1,
.gallery-card-gallery h2 {
  font-family: "Lemon/Milk", sans-serif;
  color: #22342B;
  margin-left: 25px;
  font-weight: 700;
}

.gallery-card-gallery h1 {
  font-size: 1.7rem;
}

.gallery-card-gallery h2 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

/* Waves */
.gallery-wave {
  min-width: 100%;
  height: 200px;
  position: relative;
}

.wave1 {
  padding-bottom: 377px;
  width: 100%;
  height: 400px;
  background-image: url("https://cdn.discordapp.com/attachments/1138154440512241845/1142415801488527391/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .gallery-card-gallery {
    margin: 20px 35px;
  }
}

@media screen and (max-width: 768px) {
  .gallery-card-gallery {
    margin: 20px 20px;
  }

  .gallery-card-title {
    padding: 20px 0;
  }

  .gallery-card-title h1 {
    font-size: 70px;
    margin: 0;
    text-align: center;
  }

  .gallery-wave {
    margin-top: -180px;
  }
}

@media screen and (max-width: 675px) {
  .gallery-card-gallery {
    width: 250px;
    height: 400px;
    margin: 20px 30px;
    border-radius: 30px;
  }

  .gallery-card-gallery-image {
    height: 300px;
    border-radius: 30px 30px 0 0;
    margin-bottom: 20px;
  }

  .gallery-card-gallery-image img {
    width: auto;
    height: 300px;
    margin-left: -50px;
  }

  .gallery-card-gallery h1 {
    font-size: 1.5rem;
  }

  .gallery-card-gallery h2 {
    font-size: 1rem;
  }

  .gallery-wave {
    margin-top: -130px;
  }

  .wave1 {
    padding-bottom: 180px;
  }
}

@media (max-width: 620px) {
  .gallery-card-container {
    justify-content: center;
  }
}

@media screen and (max-width: 565px) {
  .wave1 {
    padding-bottom: 120px;
  }

  .gallery-card-title {
    display: flex !important;
    justify-content: center;
    margin-left: 0px;
    gap: 30px;
  }

  .gallery-wave {
    margin-top: -120px;
  }

  .gallery-card-title h1{
    font-size: 60px;
  }

}

@media screen and (max-width: 413px) {
  .wave1 {
    padding-bottom: 100px;
  }

  .gallery-wave {
    margin-top: -80px;
  }
}
